.mainPage {
  background-color: #87ceeb;
  overflow-x: hidden;
}

li {
  margin-left: 10px;
  color: #f5f5f5;
  display: inline;
}

a {
  color: #787878;
}

.logoImg {
  width: 80px;
  height: 75px;
  margin-left: 32px;
  /*margin-top: 15px;*/
}

.userImg {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 4px;
  background-color: #ffffff;
}

.userImg1 {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: -8px;
  background-color: #ffffff;
}

.userImg2 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 45px;
  margin-top: -4px;
  background-color: #ffffff;
  margin-left: -21px;
}

.navClass {
  font-family: fantasy;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  height: 20px;
}

.activeUser {
    padding: 10px;
    font-family: sans-serif;
}
.chatWindow {
  background-color: #fffff1;
  border: 1px solid #787878;
  border-top: none;
  border-bottom: none;
  height: 590px;
}

.messageScreen {
  border: 1px solid #787878;
  height: 590px;
}

.navBar {
  background-color: #ffffff;
  border: 1px solid #787878;
}

.userWindow {
  background-color: DodgerBlue;
  border: 1px solid #787878;
  height: 80px;
}

.messageWindow {
  background-color: DodgerBlue;
  border: 1px solid #787878;
  height: 80px;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: slategray;
  text-align: center;
  padding: 20px;
}

.userName {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: slategray;
  margin-top: 17px;
}

.messageBox {
  background-color: #ee82ee;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: slategray;
  height: 100px;
  padding: 22px;
  border: 1px solid;
  padding: 16px;
  color: #ffffff;
}

.activeFriends {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 75px;
  padding: 22px;
  border: 1px solid #787878;
  padding: 16px;
  color: #ffffff;
}

.chatBox1 {
  background-color: #ee82ee;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
  height: 70px;
  padding: 22px;
  width: -moz-fit-content;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 10px;
  color: #ffffff;
}

.chatBox2 {
  background-color: #6a5acd;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
  height: 70px;
  padding: 22px;
  width: -moz-fit-content;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 376px;
}

.textClass {
  border: 1px solid #787878;
  height: 100px;
  margin-top: 10px;
}

.navClass .active {
  color: #fff555;
}

.textBox {
  margin-top: 13px;
}

.btn-info {
  margin-top: 30px;
  height: 43px;
  margin-left: 63px;
  width: 110px;
  border-radius: 15px;
}
